.search-bar-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #3174ff;
}
.search-bar-header-search {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.search-bar-home-btn {
  display: flex;
  border-width: 0px;
  border-radius: 0px;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0);
}
.search-bar-home-icon {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.search-bar-search-tag-input {
  width: 80%;
}
.search-bar-search-tag-button {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
}
.search-bar-search-icon {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}



@media(max-width: 991px) {
  .search-bar-search-tag-input {
    width: 80%;
  }
}
@media(max-width: 767px) {
  .search-bar-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .search-bar-header {
    padding: var(--dl-space-space-unit);
  }
}

.features-no-search-feature-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 0px;
}
.features-no-search-copy-icon {
  width: 100%;
  height: 100%;
}
.features-no-search-go-icon {
  width: 100%;
  height: 100%;
}

.search-result-container {
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.search-result-result {
  flex: 0 0 auto;
  width: 95%;
  display: flex;
  align-items: flex-start;
  margin-left: 5%;
  flex-direction: column;
}
.search-result-headings {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 45px;
  justify-content: flex-start;
}
.search-result-text {
  margin-right: 2%;
}
.search-result-verified-icons {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}
.search-result-verified {
  width: 24px;
  height: 24px;
}
.search-result-public-edit {
  width: 24px;
  height: 24px;
}
.search-result-description {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.search-result-desc-title {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.search-result-site-name {
  font-size: 22px;
  margin-right: 25px;
}
.search-result-verified-icons1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 30px;
  margin-bottom: 50px;
}
.search-result-verified1 {
  width: 24px;
  height: 24px;
}
.search-result-public-edit1 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .search-result-verified-icons {
    margin-bottom: 40px;
  }
  .search-result-site-name {
    font-size: 20px;
  }
  .search-result-verified-icons1 {
    margin-bottom: 40px;
  }
}
@media(max-width: 767px) {
  .search-result-verified-icons {
    margin-bottom: 30px;
  }
  .search-result-site-name {
    font-size: 18px;
  }
  .search-result-verified-icons1 {
    margin-bottom: 30px;
  }
}
@media(max-width: 479px) {
  .search-result-verified-icons {
    margin-bottom: 15px;
  }
  .search-result-site-name {
    font-size: 17px;
  }
  .search-result-verified-icons1 {
    margin-bottom: 15px;
  }
}
